<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{page.title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/assets/css/simple-sidebar.css" rel="stylesheet">
  <link href="/assets/css/notebook.css" rel="stylesheet">
  <link href="/assets/css/pygments/notebook/colorful.css" rel="stylesheet"/>
  <!-- <link href="/assets/css/main.css" rel="stylesheet"/> -->
  <style>
    pre{
      font-size: 100% !important;
    }
    .alignleft {
    	float: left;
    }
    .alignright {
    	float: right;
    }
    /* .gist iframe.render-viewer {
      min-height: 40rem;
    } */
  </style>

</head>
