<nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom">
  {% raw %}{% seo %}{% endraw %}
  {% if (page.layout != "default") and (page.layout != "worktree") and (page.layout != "MECSEAIML") %}
    <button class="btn btn-light" id="menu-toggle">Toggle Menu</button>
  {% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon rounded" style="background-color: #f8f9fa;"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      {% for nav in site.data.navigation %}
          <li class="nav-item active pl-2 text-left">
            <a class="nav-link text-light" href="{{ nav.link }}"><strong>{{ nav.name }}</strong></a>
          </li>
      {% endfor %}

      <a class="pr-3" href="/"></a> <!-- horizontal space -->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Social Profiles</a>
        <div class="dropdown-menu dropdown-menu-right bg-light" aria-labelledby="navbarDropdown">
          <a class="nav-link rounded bg-dark text-light mb-1" href="https://github.com/VirkSaab" target="_blank">GitHub</a>
          <a class="nav-link rounded mb-1" style="background-color: rgb(0, 155, 255);" href="https://www.linkedin.com/in/jsv47/" target="_blank">LinkedIn</a>
          <a class="nav-link rounded mb-1" style="background-color: rgb(0, 204, 187);" href="https://www.researchgate.net/profile/Jitender_Virk2" target="_blank">ResearchGate</a>
          <a class="nav-link rounded mb-1" style="background-color: lime;" href="https://orcid.org/0000-0002-8730-4722" target="_blank">ORCiD</a>
          <a class="nav-link rounded" style="background-color: rgb(0, 231, 170);" href="https://sourcerer.io/virksaab" target="_blank">Sourcerer</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
