<div id="accordion">
  {% assign items_grouped = site.posts | group_by:"section" %}
  {% for group in items_grouped %}
    {% if page.alias == group.items[0].subject %}
      <div class="card bg-dark border-secondary">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link text-white dropdown-toggle text-wrap" data-toggle="collapse" data-target="#{{ group.name | slugify}}" aria-expanded="false" aria-controls="collapseOne">
              {{ group.name }}
            </button>
          </h5>
        </div>
        <div id="{{ group.name | slugify}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div class="list-group">
              {% for post in group.items %}
                  <a href="{{ post.url }}" class="list-group-item list-group-item-action bg-secondary text-white rounded mb-1">{{ post.title }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}

</div>
