{% include head.html %}

<body>
  <div class="d-flex" id="wrapper">

    {% include sidebar.html %}

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {% include navbar.html %}

      <div class="container-fluid">
        <h1 class="mt-4">{{page.title}}</h1>
          <div class="container-fluid pt-3 pl-3 pr-3 pb-3 text-justify" style="font-size: larger;">
            {{ content }}
            {% if page.type == "notebook" %}
              <iframe id="iframe" src="{{page.notebook_url}}" style="width:100%; min-height: 40rem; border:none;"></iframe>
              <!-- <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{page.notebook_url}}" allowfullscreen></iframe>
              </div> -->
            {% endif %}
          </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
